.section-hero {
    position: relative;
    height: 500px;
    /*background: url('./images/event.jpg') rgba(0, 0, 0, 0.69);*/
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.section-hero_data-container {
    position: absolute;
    z-index: 1;
    left: calc((100% - 400px) / 2);
    top: calc((100% - 250px) / 2);
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
}

.section-hero_title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.section-hero_organizer {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #c59613;
    margin-bottom: 30px;
}

.section-hero_date {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.section-hero_data-container .btn {
    margin: 0 auto;
}