.HeaderMain {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #fff;
    width: 100%;
    height: 80px;
}

.HeaderMain-Inner {
    max-width: 1280px;
    margin: 0 auto;
}

.logo-container {
    width: 80px;
    height: 70px;
    margin-top: 5px;
    float: left;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.HeaderMain__nav {
    display: none;
}

@media only screen and (min-width: 1024px){
    .HeaderMain__nav {
        display: block;
        float: right;
    }
}

.HeaderMain__nav-list {
    list-style: none;
}

.HeaderMain__nav-list-item {
    display: inline-block;
    line-height: 80px;
    margin-right: 50px;
}

.HeaderMain__nav-list-item:last-child {
    margin-right: 0;
}

.HeaderMain__nav-list-item-link {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.02em;
    transition: color 0.3s ease-out;
}
.HeaderMain__nav-list-item-link:hover {
    color: #c59613;
}
